@media (min-width:1281px) { 

}

@media (max-width:1025px) {

}

@media (max-width:961px) {
	.container {
		width: 95%;
	}
}

@media (max-width:600px) {
	.container {
		width: 95%;
	}
	#my_name {
		font-size: 32px;
	}

	#social {
		li {
			margin: 0 5px;
		}
	}

	footer {
		position: initial;
	}

	.container-bottomsheet {
		position: initial;
		height: auto;
		display: initial;

		&#skills {
			padding-bottom: 30px;

			> .container {
				height: 100px;
				overflow: hidden;
			}

			> #container-showmore {
				height: 50px;
				margin: 10px 0;
			}
		}
	}
}

@media (max-width:481px) {
	.container {
		width: 95%;
	}

	#description {
		width: 80%;
	}

	#my_name {
		font-size: 26px;
	}

	#social {
		margin-top: 15px;

		li {
			margin: 0;
			width: 60px;
		}
	}
}

@media (max-width:320px) {
	body {
		min-width: 250px;
	}

	.container {
		width: 100%;
	}

	#my_name {
		font-size: 22px;
	}
}