@import "variables";

body {
	background-color: $primaryColor;
	color: $fontColor;
	font-family: "Source Sans Pro", Roboto, Helvetica;
	height: auto;
}

footer {
	position: fixed;
	width: 100%;
	min-width: 250px;
	bottom: 0;
	z-index: 1000;
	box-shadow: 0 0 15px rgba(20, 20, 20, 0.8);

	.btn-footer {
		min-width: 130px;
		height: inherit;
		border-bottom: solid 2px $primaryColor;
		cursor: pointer;

		&.-clicked {
			background-color: lighten(black, 10%);
			border-top: solid 2px $secondaryColor;
			border-bottom: 0;
			border-bottom: none;
			color: $secondaryColor;
		}

		&:hover {
			@extend .-clicked;
		}
	}

	.title {
		font-size: 22px;
		font-weight: 400;
	}
}

.container-bottomsheet {
	display: none;
	position: fixed;
	bottom: 0;
	height: 0;
	width: 100%;
	z-index: 999;
	background-color: lighten(black, 10%);

	& > .container {
		overflow: auto;
	}
}

main {
	margin-bottom: 45px;
}

.container {
	margin: 0 auto;
	width: 85%;
}

#my_name {
	font-size: 42px;
	//font-weight: 600;
	letter-spacing: 3px;
	text-transform: capitalize;
	text-transform: uppercase;
	white-space: nowrap;
	
	margin: 10px 0;
}

#description {
	margin-top: 20px;
	width: 65%;
	text-transform: capitalize;
	text-align: justify;
	letter-spacing: 2px;
}

#foto{
	width: 150px;
	height: 150px;
	margin-top: 20px;
}

#social {
	margin-top: 40px;

	li {
		text-align: center;
		vertical-align: middle;
		width: 70px;
		margin: 0 10px;

		> a:hover {
			color: $secondaryColor;
		}

		span {
			font-size: 16px;
		}
	}
}

#contact {
	#submit_success, #submit_error {
		display: none;
		text-align: center;
		font-size: 24px;
		height: 200px;

		> span {
			margin-left: 15px;
		}
	}

	#submit_success > i {
		color: #00AB00;
	}

	#submit_error > i {
		color: #E60000;
	}
}

#skills {
	min-width: 250px;

	.skill {
		padding: 10px 30px;

		.skill-name {
			text-transform: capitalize;
		}

		.skill-level {
			float: right;
			text-transform: capitalize;
		}

		.skill-bar {
			background-color: gray;
			width: 100%;
			height: 8px;
			margin-top: 5px;

			.skill-value {
				height: inherit;
				background-color: $secondaryColor;
			}
		}
	}
}

.my-toolbar {
	min-height: 42px;

	.my-toolbar-tools {
		height: 42px;
	}
}

a:hover, a:visited, a:link, a:active {
	text-decoration: none;
}


//helpers /////////

.center-align {
	margin: 0 auto;
}

.vertical-align {
	vertical-align: middle;
}

.img-size-128 {
	width: 128px;
	height: 128px;
}

.circular {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    background-size: 100% 100%;
}

.prefix {
    float: left;
    left: -40px;
    position: relative;
}

.icon-large {
	font-size: 32px;
}

.white-text {
	color: white;
}

.-smallicon {
	font-size: 1.5em;
}

.-mediumicon {
	font-size: 2.2em;
}

@import "media";