@import "variables";

body {
	background-color: $primaryColor;
	color: $fontColor;
	font-family: "Source Sans Pro", Roboto, Helvetica;
}

nav {
	//background-color: $secondaryColor;
}

footer {
	//background-color: $secondaryColor;
	bottom: 0;
	z-index: 1000;

	#container_contact_form {
		position: fixed;
		//height: 300px;
		width: 100%;
		background-color: lighten(black, 10%);
	}
}

main {
	padding: 20px 0;
}

.container {
	margin: 0 auto;
	width: 85%;
}

#principal_name {
	font-size: 42px;
	//font-weight: 600;
	letter-spacing: 3px;
	text-transform: capitalize;
	text-transform: uppercase;
	
	margin: 10px 0;
}

#description {
	margin-top: 20px;
	width: 50%;
	text-transform: capitalize;
	text-align: justify;
	letter-spacing: 2px;
}

#foto{
	width: 150px;
	height: 150px;
}

#social {
	li {
		margin-right: 13px;

		.small {
			font-size: 1.5em;
		}
	}
}

.my-toolbar {
	min-height: 42px;

	.my-toolbar-tools {
		height: 42px;
	}
}


//helpers /////////

.center-align {
	margin: 0 auto;
}

.vertical-align {
	vertical-align: middle;
}

.img-size-128 {
	width: 128px;
	height: 128px;
}

.circular {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    background-size: 100% 100%;
}

.prefix {
    float: left;
    left: -40px;
    position: relative;
}

.icon-large {
	font-size: 32px;
}

.white-text {
	color: white;
}