<footer layout="column" layout-align="center end" ng-cloak>
	<md-toolbar class="my-toolbar">
		<div class="container">
			<div class="md-toolbar-tools my-toolbar-tools" layout="row" layout-align="center center">
				<div flex="20"></div>
				<div flex="60" layout="row" layout-align="center center">
					<h3 class="title" id="btn_contact">Contato</h3>
				</div>
				<div id="btn_skills" flex="20" layout="row" layout-align="center center">
					<h3 class="title">Habilidades</h3>
				</div>
				
			</div>
		</div>
	</md-toolbar>

	<div id="contact_form" class="container-footer">
		<div class="container">
			<div layout="row" layout-wrap layout-align="center">
				<form id="contact_form" name="form-contact" onsubmit="javascript:return false" flex="100" flex-sm="100" flex-md="70" flex-gt-md="70">
					<div layout="row" layout-wrap layout-align="center center">
						<div layout="row" layout-wrap flex='100' layout-align="center center">
							<!-- Nome-->
							<md-input-container flex="100" flex-sm="45" flex-gt-sm="45" class="md-icon-float">
								<i class="material-icons prefix icon-large white-texts">account_circle</i>
								<label class="white-text">Nome</label>
								<md-icon class="name"></md-icon>
								<input id="form-name" name="name" type="text">
							</md-input-container>
							<span flex></span>
							<!-- Email-->
							<md-input-container flex="100" flex-sm="50" flex-gt-sm="50" class="md-icon-float">
								<i class="material-icons prefix icon-large white-text">email</i>
								<label class="white-text">Email</label>
								<md-icon class="email"></md-icon>
								<input id="form-email" name="email" type="email">
							</md-input-container>
							<!-- Message-->
							<md-input-container flex="100" class="md-icon-float">
								<i class="material-icons prefix icon-large white-text">message</i>
								<label class="white-text">Mensagem</label>
								<md-icon class="message"></md-icon>
								<input id="form-message" name="message" type="text">
							</md-input-container>
							<!-- Button -->
							<md-button flex="50" id="form-submit" class="md-primary md-hue-2 md-raised btn-send" ng-click="submitForm($event)">
								Enviar <i class="material-icons white-text vertical-align">send</i>
							</md-button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div id="skills" class="container-footer" ng-controller="SkillsController">
		<div class="container">
			<div layout="row" layout-wrap layout-align="center center">
				<div class="skill" flex="30" ng-repeat="skill in skills.data  | orderBy:sortType">
					<skill
						name="{{skill.name}}"
						value="{{skill.value}}">
					</skill>
					<!--<span class="skill-name">{{skill.name}}</span>
					<span class="skill-level">Nivel</span>
					<div class="skill-bar"></div>-->
				</div>
			</div>
		</div>
	</div>
</footer>